/**
 * Overwrite React modern date picker
 */
.Cal__Today__chevron {
    margin-left: 3.5rem !important;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
    height: 47px;
    width: 47px;
}

.Cal__Container__root {
    margin: 0.5rem auto;
    width: 100% !important;
    max-width: 450px;
    max-height: 300px;
}
.Cal__Header__root {
    border-radius: 16px 16px 0 0;
}
.Cal__Container__listWrapper {
    border-radius: 0 0 16px 16px;
}

/**
 * Overwrite Antd scss
 */
.ant-form-item {
    max-width: 450px;
    margin: 1.5rem auto;
}

.ant-form-item-control {
    max-width: 100%;
}

.ant-form-item-explain {
    text-align: left;
}

.ant-radio-button-wrapper {
    line-height: 50px;
    height: 50px;
}
