.create-event-button-wrapper {
    button {
        padding: 1rem;
        border-radius: 30px;
        height: inherit;
    }
}

/**
 * Overwrite React modern date picker
 */
.Cal__Today__chevron {
    margin-left: 3.5rem !important;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
    height: 47px;
    width: 47px;
}

.Cal__Container__root {
    margin: 0 auto;
    width: 350px;
    max-width: 400px;
    max-height: 450px;
}
.Cal__Header__root {
    border-radius: 16px 16px 0 0;
}
.Cal__Container__listWrapper {
    border-radius: 0 0 16px 16px;
}

/**
 * Overwrite Antd scss
 */
.ant-form-item-control {
    width: 350px;
}
