.page-title-with-help {
    height: 15px;
    border-spacing: 0.5rem;
    display: table;
    h1 {
        display: table-cell;
        vertical-align: middle;
    }
    .anticon {
        display: table-cell;
        vertical-align: middle;
    }
}
