.page-title {
    h1 {
        text-transform: capitalize;
    }
    .description {
        color: gray;
    }
}

.event-page-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.event-page-subcontainer {
    flex-grow: 3;
    max-width: 700px;
    min-height: 478px;
    margin: 0 0.5rem;
}