.event-page-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.event-page-subcontainer {
    flex-grow: 3;
    max-width: 700px;
    min-height: 478px;
    max-height: 100%;
    margin: 0 0.5rem;
}

.availabilities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
    justify-content: center;
    border: 2px solid rgba(66, 68, 90, 0.075);
    border-radius: 0.15em;
    padding: 1em 0;
    user-select: none;

    div {
        margin: 0.2em;
        border: 2px solid transparent;
        border-radius: 8px;
        background: rgb(204, 219, 255);
    }
    .availabilityDate {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        width: fit-content;
    }
    .availabilitySlot {
        align-self:stretch;
        height: 3em;
        width: 3em;
        margin: 0.2em;
        border: 2px solid transparent;
        border-radius: 0.15em;
        background: rgb(204, 219, 255);
        cursor: pointer;
    }
}
