.ant-modal-content {
    border-radius: 16px;

    .ant-btn {
        border-radius: 16px;
    }
}

.ant-modal-footer {
    border-top: 0;
    margin: 0 auto;
    padding: 0 16px 1rem;
    text-align: center;
}